APP_NAME="Timeline of African American Music"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://timeline.test
ADMIN_APP_URL=http://admin.timeline.test

WEBSITE_URL=

TELESCOPE_ENABLED=false

APPLE_MUSIC_TEAM_ID=
APPLE_MUSIC_KEY_ID=

# URL to trigger a deployment from the Admin UI. A POST request is made to this URL.
TRIGGER_DEPLOYMENT_WEBHOOK=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=mail.smtp2go.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Timeline of African American Music"
MAIL_FROM_ADDRESS=noreply@example.com

# CACHE_DRIVER=redis

# For proudction, we store uploaded assets in AWS S3
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_REGION=

# For production, we use Imgix
# IMGIX_SOURCE_HOST=
# MEDIA_LIBRARY_IMAGE_SERVICE=A17\Twill\Services\MediaLibrary\Imgix
# MEDIA_LIBRARY_ACL="public-read"

# For local development, we use local filesystem
MEDIA_LIBRARY_ENDPOINT_TYPE=local
MEDIA_LIBRARY_IMAGE_SERVICE=A17\Twill\Services\MediaLibrary\Local
MEDIA_LIBRARY_LOCAL_PATH=uploads/
MEDIA_LIBRARY_CASCADE_DELETE=true
FILE_LIBRARY_ENDPOINT_TYPE=local
FILE_LIBRARY_LOCAL_PATH=files/
FILE_LIBRARY_FILE_SERVICE=A17\Twill\Services\FileLibrary\Disk
FILE_LIBRARY_CASCADE_DELETE=true
