.video-finder {
  background-color: white;
  margin: 10px 0;
  display: block;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
  color: #777;

  &__inner {
    padding: 10px;

    @media screen and (min-width: 1040px) {
      display: flex;
      align-items: center;
    }

    > * + * {
      margin-top: 1rem;
      margin-bottom: 1rem;

      @media screen and (min-width: 1040px) {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &__video-wrapper {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    @media screen and (min-width: 1040px) {
      max-width: 400px;
    }
  }
}

[data-load] {
  min-width: 6em;
  min-height: 1em;
  border-radius: calc(5 / 16 * 1rem);
  position: relative;
  cursor: wait;
  overflow: clip;
  contain: content;
}

[data-load="loaded"] {
  cursor: auto;
}

[data-load="loading"] {
  padding: 20px;

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - (0.75em / 2));
    top: calc(50% - (0.75em / 2));
    width: 0.75em;
    height: 0.75em;
    background-color: dodgerblue;
    border-radius: 50%;
    display: block;
    animation: wiggle 0.3s linear infinite alternate;
  }
}

[data-load="loaded"]::after {
  display: none;
}

@keyframes wiggle {
  0%, 20% { transform: translatex(-1em) scalex(1); animation-timing-function: ease-in; }
  50% { transform: translatex(0) scalex(2); animation-timing-function: ease-out; }
  80%, 100% { transform: translatex(1em) scalex(1); }
}
